# Create the environment:
# mamba env create -f environment-common.yml 
# or if you really want to use conda
# conda env create -f environment-common.yml
name: ecearth-quests

channels:
  - conda-forge

dependencies:
  - python>3.9,<3.12
  - cdo=2.4.0
  - eccodes>=2.31.0,<2.34.0
  - ipykernel
  - numpy
  - scipy
  - xarray
  - dask
  - pandas
  - matplotlib
  - netcdf4
  - ruamel.yaml
  - nc-time-axis
  - cftime
  - gsw
  - psutil
  - pip
  - pip:
    - -e .
