!-----------------------------------------------------------------------
&NAMRNFMAP
!-----------------------------------------------------------------------
    RunLengthSec = {{(24*3600*(experiment.schedule.leg.end-experiment.schedule.leg.start).days)|int}}
    TimeStepSec  = {{model_config.oasis.oifs_nemo.dt}}
!-----------------------------------------------------------------------
/
