#!/bin/bash

#SBATCH --account=snic2019-2-8
#SBATCH --nodes=2
#SBATCH --time=1:00:00
#SBATCH --job-name="ece-4-cpl"
#SBATCH --output=job.out
#SBATCH --error=job.out
#SBATCH --reservation=devel

#  Run EC-Earth4 NEMO oce-only

# set -ea
# set -x

#  Set number of OpenMP threads to use. Must be compiled
#  with openmp for this to have any effect.
export OMP_NUM_THREADS=1

# Increase stack memory (model may crash with SEGV otherwise)
ulimit -s unlimited
ulimit -c unlimited

# Set tetralith specific environment
unset I_MPI_PMI_LIBRARY
export I_MPI_FABRICS=shm:tmi

# ddt --connect \
mpiexec.hydra \
    -genvall \
    -prepend-rank \
    -ordered-output \
    -print-rank-map \
    -print-all-exitcodes \
    -bootstrap slurm \
    \
    -np 1 ./xios_server.exe : \
    -np {{runenv.nemo.nproc}} ./nemo.exe
