{% set first_node = slurm_hostnames|first -%}

# XIOS
{% for i in range(job.xios.nnodes) -%}
{% set node = slurm_hostnames.pop(0) -%}
{% for j in range(job.xios.ntasks_per_node) -%}
{{ node }}
{% endfor -%}
{% endfor -%}

{% if "nemo" in model_config.components -%}
# NEMO
{% for i in range(job.nemo.nnodes) -%}
{% set node = slurm_hostnames.pop(0) -%}
{% for j in range(job.nemo.ntasks_per_node) -%}
{{ node }}
{% endfor -%}
{% endfor -%}
{% endif -%}

{% if "amipfr" in model_config.components or "rnfm" in model_config.components -%}
# AMIP forcing reader or Runoff-mapper
{{ first_node }}
{% endif -%}

# OIFS
{% for i in range(job.oifs.nnodes) -%}
{% set node = slurm_hostnames.pop(0) -%}
{% for j in range(job.oifs.ntasks_per_node) -%}
{{ node }}
{% endfor -%}
{% endfor -%}
