
EC-Earth 4 leg timings
======================

{{"Run script elapsed time:   %s" % script_elapsed_time}}
{{"Model elapsed time (no run script overhead): %s" % model_elapsed_time}}
{{"Model speed incl overhead: %8.2f SYPD" % ((experiment.schedule.leg.end - experiment.schedule.leg.start)/script_elapsed_time/365)}}
{{"Model speed excl overhead: %8.2f SYPD" % ((experiment.schedule.leg.end - experiment.schedule.leg.start)/model_elapsed_time/365)}}

{% if se.tasks.timing.mode -%}
Detailed ScriptEngine timings follow:

Timing for task classes
-----------------------
{%- for class, time in se.tasks.timing.timers.classes|dictsort(false, 'value') %}
    {{"%12s: %9.3f seconds" % (class, time)}}
{%- endfor %}

{% if se.tasks.timing.mode == 'instances' -%}
Timing for task instances
-------------------------
{%- for uid, time in se.tasks.timing.timers.instances|dictsort(false, 'value') %}
    {{"%12s: %9.3f seconds" % ((uid|string).split('-')[-1], time)}}
{%- endfor %}
{% endif %}
{% else -%}
No detailed Scriptengine timing activated
{% endif %}
